*.pyc
*.DS_Store
agoTools.sln
agoTools.v11.suo
agotools.pyproj
agotools.pyproj.user
*.suo
site-packages - Shortcut.lnk
UpgradeLog.htm
*.bat
VHBCatPortal_GISData_MA.csv
*.csv
/samples/_calculateRelatedAttachmentURLFieldThumbnail.zip
/samples/_calculateAttachmentURLFieldThumbnail - Copy.py
